.conteiner {
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0 rgb(0 0 0 / 38%);
    margin-top: 20px;
}

.conteiner:hover {
    transform: scale(1.02);
}

.conteiner_close_button {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.close_button {
    border: 1px solid #346473;
    border-radius: 5px;
    color: #346473;
    background-color: transparent;
    font-size: 18px;
    width: 30px;
    height: 30px;
}

.close_button:hover {
    transform: scale(1.02);
    color: white;
    background-color: #346473;
}

h1 {
    color: #346473;
    font-size: 27px;
    margin-top: 0px;
    
}

.form {
    display: grid;
}

.input {
    border-radius: 5px;
    margin: 10px 15px 20px 15px;
    height: 30px;
    border: 1px solid lightslategray;
}

.image {
    width: 250px;
    padding-left: 50px;
}

.label {
    text-align: left;
    margin-left: 20px;
    font-weight: 600;
    opacity: 0.85;
    font-size: 17px;
}

.add_button {
    text-decoration: none;
    width: 100px;
    font-size: 15px;
    height: 30px;
    background-color: #346473;
    color: white;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.conteiner_steps {
    display: flex;
    flex-direction: row;
    border: 1px solid lightslategray;
    border-radius: 5px;
    margin: 10px 15px 20px 15px;
    height: 30px;
    align-items: center;
    justify-content:space-between;
}

.header_step {
    display: flex;
    flex-direction: row;
    border: 1px solid lightslategray;
    border-radius: 5px;
    margin: 0px 15px 0px 15px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_step span {
    padding-left: 40%;
    font-size: 18px;
}

.add_delete_button {
    text-decoration: none;
    width: 60px;
    font-size: 15px;
    height: 30px;
    background-color: #346473;
    color: white;
    border: none;
    margin-left: 3px;
}

.text {
    height: 50px;
    resize: none;
    width: 92%;
    margin: 0px 15px 20px 15px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid lightslategray;
}

.select {
    text-decoration: none;
    border: 1px solid lightslategray;
    border-radius: 5px;
    margin: 10px 15px 20px 15px;
    height: 30px;
}

.selected {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    background-color: #346473;
    font-size: 13px;
    color: white
}

.x {
    padding-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

.x:hover {
    color: red;
}

.update_button {
    height: 50px;
    border: none;
    background-color: #25a55f;
    color: white;
    font-size: 20px;
    border-radius: 0px, 0px, 5px, 5px;
    cursor: pointer;
    margin-top: 15px;
}

.update_button:hover{
    transform: scale(1.02);
}

.error {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: red;
}